{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 200,
	"semi": false,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"tailwindConfig": "./libs/tailwind/src/lib/tailwind.config.js",
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
