{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 200,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./lib/theme/tailwind.config.js",
  "semi": false
}